body {
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    margin: 40px 0 0 40px;
    position: absolute;
}

.encriptar {
    margin-left: 240px;

}

.txtarea {
    font-family: 'Montserrat', sans-serif;
    margin-top: 196px;
    width: 680px;

    background: none;
    color: #0A3871;
    font-size: 32px;
    resize: none;
    border: none;
    outline: none;
}

.txtarea::placeholder {
    color: #0A3871;
    ;
}



.botones {
    margin-left: 240px;
    position: absolute;
    bottom: 30px;
}
.botones p {
    margin-top: 20px;
    margin-bottom: 20px;
}
#btnEncriptar {
    font-family: 'Montserrat', sans-serif;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: #ffffff;
    font-size: 27px;
    font-style: normal;
    margin-right: 24px;
}

#btnDesencriptar {
    font-family: 'Montserrat', sans-serif;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    font-size: 27px;
    font-style: normal;
}

.txt-encriptado {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 80px;
}

.rectangulo {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 80px;
    height: -webkit-fill-available;
    width: 378px;
    border-radius: 32px;
    margin-top: 40px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 1);
    text-align: -webkit-center;
}

#munheco {
    margin-top: 140px;
}

.rectangulo h3 {
    width: 336px;
    height: 58px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.rectangulo p {
    width: 336px;
    
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#texto {
    margin-top: 50px;
    font-size: 24px;
    width: 336px;
    height: 80%;
    display: none;
}

#btnCopiar {
    position: absolute;
    bottom: 20px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    font-size: 27px;
    font-style: normal;
    display: none;
}